@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #273444;
  color: #F7F6F6;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
}

.source {
  font-family: arial, sans-serif;
  color: white !important;
  line-height: 16px;
}

.error {
  padding: 8px;
  font-size: 0.875rem;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;  
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .image {
    width: 80%;
    margin-top: 35px;
  }
}


.rootTabs {
  flex-grow: 1;
  width: 70%;
  margin-left: 10%;
  background-color: #273444; 
  color: white;
  margin-bottom: 1rem;

}

.tabsHeader {
  box-shadow: none !important;
  border-bottom: 1px solid #e8e8e8;
}

@media (max-width: 600px) {   
  .rootTabs {
    flex-grow: 1;
    width: 100%;
    background-color: #fff;   
    margin: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.error {
 margin: 50px auto;
 font-size: 18px;
 text-transform: uppercase;
}

@media (max-width: 770px) {
  .container {
    width: 100%;
  }
}

.map {
  height: 500px;   
  width: 100%;
  background-color: white;
}

.map .leaflet-container {
  height: 100%;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

@media (max-width: 600px) {
  .map {
     height: 300px;   
  }
}

.container {
  margin: 40px 0;
}

.gridContainer {
  width: 100% !important;
  margin: 0 !important
}

.infected{
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered{
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths{
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

@media (min-width: 600px) and (max-width: 960px) {
  .item {
     padding: 3px !important;
  }  
}

@media (max-width: 960px) {   
  .card {
     margin: 0 2% !important;
  } 
}

@media (max-width: 600px) {
  .container {
     margin: 30px 0;
  }

  .formControl {
    width: 30%;
    min-width: 150px !important;
    margin-bottom: 30px !important;
 }
  .item {      
     padding: 8px 18px !important;
  }
} 